.ant-select-selection--single {
    height: 36px !important;
    border-radius: 4px !important;
}


.fullscreenControlStyle{
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 10px;
}

.navStyle{
    position: absolute;
    top: 45px;
    left: 0px;
    padding: 10px;
}

.themeSelectStyle{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    line-height: 30px;
    margin: 10px;
    z-index: 1000;
}

.settingsStyle{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    align-content: center;
    text-align: center;
    display: inline-grid;
    margin: 10px;
    z-index: 1000;
}

.buttonSet{
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 1000;
}

.geolocateStyle{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
}

.sliderStyle{
    position: absolute;
    width: 25%;
    top: 85%;
    left: 35%;
    padding: 10px;
}

.loadingStyle{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 30px;
}
